.body {
 margin: 8em;
}
.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
    height: 80%;
    width: 50%;
    margin-top: 10em;
    margin-left: 50%;
  }
  
  .map-frame {
    height: 100%;
  }
  
  #map {
    height: 100%;
  }
  .map {
    height: 100%;
    padding: 0;
  }